/*
* Button zum nächsten Thema
*/
.next {
    --main-size: 1.7em;
    --color-text: #ffffff;
    --color-background: #236C93;
    --color-background-hover: #236C93;
    --color-outline: #6497B3;
    --color-shadow: #00000040;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;

    /* Zuerst ist ein Kreis */
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;

    padding: 0;
    font-family: "Verdana", sans-serif;
    font-weight: 600;
    font-size: var(--main-size);
    color: var(--color-text);
    background: var(--color-background);
    box-shadow: 0 0 0.2em 0 var(--color-background);
    transition: all 0.5s ease;

    /* Ganz unten rechts positioniert */
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    overflow: hidden; /* Text versteckt bis 'hover' */
}

/* Button-Box wieder größer machen beim Hover */
.next:hover {
    width: auto;
    border-radius: 2em;
    padding-left: 1em;
    transition: all 0.5s ease;
}

/* Name des nächsten Themas, zuerst versteckt */
.next span {
    opacity: 0;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 0;
    transition: opacity 0.3s ease 0.2s, width 0.4s ease, margin-right 0.4s ease;
}

/* Beim Hover den Text anzeigen */
.next:hover span {
    opacity: 1;
    width: auto;
    margin-right: 0.5em;
}

/* Das sind die Pfeilen nach rechts, die im Button stehen */
.next svg {
    height: 0.8em;
    fill: var(--color-text);
    margin-right: -1em;
    position: relative;
    transition: 0.5s;
}

/* Die Pfeilen immer noch da, aber hübscher angezeigt mit dem Text */
.next:hover svg {
    margin-right: 0.66em;
    transition: 0.5s;
    filter: drop-shadow(5px 5px 2.5px var(--color-shadow));
}

/* Die Animation des Buttons (Fragen an Tech Leads stellen) */
.next:active svg {
    filter: none;
}

.next svg polygon:nth-child(1) {
    transition: 0.4s;
    transform: translateX(-60%);
}

.next svg polygon:nth-child(2) {
    transition: 0.5s;
    transform: translateX(-30%);
}

.next:hover svg polygon:nth-child(1) {
    transform: translateX(0%);
    animation: opacity 1s infinite 0.6s;
}

.next:hover svg polygon:nth-child(2) {
    transform: translateX(0%);
    animation: opacity 1s infinite 0.4s;
}

.next:hover svg polygon:nth-child(3) {
    animation: opacity 1s infinite 0.2s;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes colorize {
    0% {
        background: var(--color-background);
    }
    50% {
        background: var(--color-background-hover);
    }
    100% {
        background: var(--color-background);
    }
}

@keyframes ripple
{
    0% {
        outline: 0em solid transparent;
        outline-offset: -0.1em;
    }
    50% {
        outline: 0.2em solid var(--color-outline);
        outline-offset: 0.2em;
    }
    100% {
        outline: 0.4em solid transparent;
        outline-offset: 0.4em;
    }
}

/* Button zu dem vorherigen Thema */
.prev {
    --main-size: 1.7em;
    --color-text: #ffffff;
    --color-background: #236C93;
    --color-background-hover: #236C93;
    --color-outline: #6497B3;
    --color-shadow: #00000040;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;

    /* Zuerst ist ein Kreis */
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;

    padding: 0;
    font-family: "Verdana", sans-serif;
    font-weight: 600;
    font-size: var(--main-size);
    color: var(--color-text);
    background: var(--color-background);
    box-shadow: 0 0 0.2em 0 var(--color-background);
    transition: all 0.5s ease;

    /* Ganz unten links positioniert */
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    overflow: hidden; /* Text versteckt bis 'hover' */
}

/* Button-Box wieder größer machen beim Hover */
.prev:hover {
    width: auto;
    border-radius: 2em;
    padding-right: 1em;
    justify-content: flex-end;
    transition: all 0.5s ease;
}

/* Name des vorherigen Themas, zuerst versteckt */
.prev span {
    opacity: 0;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 0;
    transition: opacity 0.3s ease 0.2s, width 0.4s ease, margin-left 0.4s ease;
}

/* Beim Hover den Text anzeigen */
.prev:hover span {
    opacity: 1;
    width: auto;
    margin-left: 0.5em;
}

/* Das sind die Pfeilen nach rechts, die im Button stehen */
.prev svg {
    height: 0.8em;
    fill: var(--color-text);
    margin-left: -1em; /* umgekehrt, da zeigen nach links */
    position: relative;
    transition: 0.5s;
}

/* Die Pfeilen immer noch da, aber hübscher angezeigt mit dem Text */
.prev:hover svg {
    margin-left: 0.66em; /* umgekehrt */
    transition: 0.5s;
    filter: drop-shadow(5px 5px 2.5px var(--color-shadow));
}

.prev:active svg {
    filter: none;
}

/* Die Animation des Buttons (Fragen an Tech Leads stellen) */
.prev svg polygon:nth-child(1) {
    transition: 0.4s;
    transform: translateX(60%);
}

.prev svg polygon:nth-child(2) {
    transition: 0.5s;
    transform: translateX(30%);
}

.prev:hover svg polygon:nth-child(1) {
    transform: translateX(0%);
    animation: opacity 1s infinite 0.6s;
}

.prev:hover svg polygon:nth-child(2) {
    transform: translateX(0%);
    animation: opacity 1s infinite 0.4s;
}

.prev:hover svg polygon:nth-child(3) {
    animation: opacity 1s infinite 0.2s;
}

@keyframes opacity {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes colorize {
    0% { background: var(--color-background); }
    50% { background: var(--color-background-hover); }
    100% { background: var(--color-background); }
}

@keyframes ripple {
    0% {
        outline: 0 solid transparent;
        outline-offset: -0.1em;
    }
    50% {
        outline: 0.2em solid var(--color-outline);
        outline-offset: 0.2em;
    }
    100% {
        outline: 0.4em solid transparent;
        outline-offset: 0.4em;
    }
}